.vehicles-create .form-control {
    margin-bottom: 10px;
}

.vehicles-create .price label,
.vehicles-create .mileage label,
.vehicles-create .description label {
    margin-bottom: 4px;
}

.vehicles-create .fileinput-button {
    margin-bottom: 10px;
}

.vehicles-create .files .filename {
    overflow: hidden;
}

.vehicles-create .files .info {
    margin-bottom: 2px;
}

.vehicles-create .files .thumbnail {
    text-align: center;
}
